# MySQL
MYSQL_HOST=mysql
MYSQL_DATABASE=stock
MYSQL_NAME=root
MYSQL_PASSWORD=1234

# KIS API
KIS_APP_KEY=your_app_key
KIS_APP_SECRET=your_app_secret
KIS_REST_URL=https://openapivts.koreainvestment.com:29443
KIS_WS_URL=ws://ops.koreainvestment.com:31000

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# JWT
JWT_SECRET_KEY=your_jwt_secret

# OAuth 2.0
KAKAO_CLIENT_ID=your_kakao_id
KAKAO_CLIENT_SECRET=your_kakao_secret
KAKAO_REDIRECT_URL=http://localhost:8080/login/oauth2/code/kakao

NAVER_CLIENT_ID=your_naver_id
NAVER_CLIENT_SECRET=your_naver_secret
NAVER_REDIRECT_URL=http://localhost:8080/login/oauth2/code/naver
